@charset "UTF-8";
@font-face {
  font-family: FontQuick;
  src: url(Quicksand/static/Quicksand-Bold.ttf); }

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='50%' preserveAspectRatio='none' viewBox='0 0 1435 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1039%26quot%3b)' fill='none'%3e%3crect width='1435' height='560' x='0' y='0' fill='rgba(230%2c 196%2c 179%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c569.637C106.343%2c562.63%2c206.201%2c517.104%2c290.033%2c451.3C368.941%2c389.361%2c411.081%2c297.766%2c458.778%2c209.517C509.972%2c114.8%2c602.977%2c21.711%2c578.945%2c-83.24C554.754%2c-188.885%2c423.752%2c-224.98%2c342.789%2c-297.028C274.173%2c-358.089%2c227.166%2c-447.652%2c139.315%2c-474.463C51.159%2c-501.367%2c-37.838%2c-450.441%2c-129.542%2c-441.18C-247.178%2c-429.3%2c-399.259%2c-502.399%2c-475.861%2c-412.336C-552.711%2c-321.981%2c-447.323%2c-183.26%2c-449.778%2c-64.668C-451.825%2c34.2%2c-512.211%2c127.197%2c-489.021%2c223.328C-463.564%2c328.857%2c-404.272%2c428.472%2c-315.681%2c491.209C-225.367%2c555.166%2c-110.428%2c576.913%2c0%2c569.637' fill='%23d29475'%3e%3c/path%3e%3cpath d='M1435 970.861C1510.462 963.896 1549.106 877.726 1612.923 836.854 1676.882 795.891 1771.353 796.708 1809.482 731.02 1847.775 665.051 1826.104 580.022 1804.463 506.879 1784.809 440.452 1737.096 389.877 1692.792 336.622 1647.546 282.235 1607.284 221.834 1542.912 192.485 1473.259 160.728 1394.014 149.16899999999998 1319.427 166.39600000000002 1242.533 184.156 1166.346 223.668 1122.835 289.508 1080.946 352.894 1093.609 434.71299999999997 1091.91 510.671 1090.409 577.793 1088.825 644.384 1113.504 706.823 1139.098 771.5740000000001 1180.8319999999999 827.5799999999999 1234.638 871.77 1293.407 920.0360000000001 1359.273 977.851 1435 970.861' fill='%23faf4f1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1039'%3e%3crect width='1435' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); }

header .masbel-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: FontQuick;
  color: black; }

header .logo-carrito-buscador {
  background-image: url();
  background-size: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .logo-masbel {
  display: flex;
  max-width: 50%;
  border-radius: 50%; }

header .buscador {
  display: flex;
  font-family: FontQuick;
  margin-right: 10%;
  width: 100%; }

header .carrito-imagen {
  display: flex; }

header .menu {
  border-top: 5px solid #8c8cf2;
  border-bottom: 5px solid #8c8cf2;
  display: flex;
  justify-content: center;
  font-family: FontQuick;
  font-size: 115%; }

.masvendidos {
  display: flex;
  justify-content: center;
  font-family: FontQuick;
  font-size: 300%; }

.iconos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%; }
  .iconos .bidon-imagen:hover {
    transform: scale(1.5); }
  .iconos .bidon-imagen {
    transition: all 1s; }

.tabla {
  border-bottom: 5px solid #8c8cf2;
  display: flex;
  justify-content: center;
  font-size: 150%;
  font-family: FontQuick; }

.divs {
  border: 3px solid white; }

.horarios {
  display: flex;
  justify-content: center;
  font-family: FontQuick;
  font-size: 300%; }

.contacto {
  border-bottom: 5px solid #8c8cf2;
  display: flex;
  justify-content: center;
  font-family: FontQuick; }

footer {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: #8699f9;
  font-family: FontQuick; }
  footer .whatsapp-imagen {
    width: 4%; }
  footer .insta-imagen {
    width: 4%; }
  footer .facebook-imagen {
    width: 4%; }
  footer .gmail-imagen {
    width: 4%; }

.menu-conoce {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-bottom: 5px solid #8c8cf2;
  padding-top: 5%;
  padding-bottom: 5%; }

.div1 {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  align-items: center; }

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center; }

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center; }

.div4 {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  align-items: center; }

.div5 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center; }

.conocetamaño {
  width: 100%; }

.hoteleriatamaño {
  width: 100%; }

.gastronomiatamaño {
  width: 100%; }

.lavanderiatamaño {
  width: 100%; }

.edificiostamaño {
  width: 100%; }

.conocetitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #8c8cf2;
  font-family: FontQuick;
  font-size: 300%; }

.titulotrabajamos {
  position: relative;
  right: 64%;
  bottom: -17%;
  font-size: 250%;
  font-family: FontQuick;
  color: white; }

.titulohoteleria {
  position: relative;
  right: 62%;
  bottom: -45%;
  font-size: 200%;
  font-family: FontQuick;
  color: white; }

.titulogastronomia {
  position: relative;
  right: 62%;
  bottom: -45%;
  font-size: 200%;
  font-family: FontQuick;
  color: white; }

.titulolavanderia {
  position: relative;
  right: 62%;
  bottom: -45%;
  font-size: 200%;
  font-family: FontQuick;
  color: white; }

.tituloedificios {
  position: relative;
  right: 62%;
  bottom: -33%;
  font-size: 200%;
  font-family: FontQuick;
  color: white; }

@media screen and (max-width: 576px) {
  .menu-conoce {
    display: none; }
  .conocetitulo {
    display: none; }
  .tabla {
    display: none; } }

@media screen and (max-width: 768px) {
  .menu-conoce {
    display: none; }
  .conocetitulo {
    display: none; }
  .tabla {
    display: none; } }

@media screen and (max-width: 992px) {
  .menu-conoce {
    display: none; }
  .conocetitulo {
    display: none; } }
